// Copyright 2026 The Pigweed Authors
//
// Licensed under the Apache License, Version 2.0 (the "License"); you may not
// use this file except in compliance with the License. You may obtain a copy of
// the License at
//
//     https://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
// License for the specific language governing permissions and limitations under
// the License.
#![no_main]
#![no_std]

use userspace::entry;

{% for process in app.processes %}
// Force linking of process crate
use {{ process.name | to_lower_ident }} as _;
{% endfor %}

unsafe extern "C" {
    {% for process in app.processes %}
    fn _entry_{{ process.name | to_lower_ident }}() -> !;
    {% endfor %}
}

static APP_ENTRY_TABLE: [unsafe extern "C" fn() -> !; {{ app.processes | length }}] = [
    {% for process in app.processes %}
    _entry_{{ process.name | to_lower_ident }},
    {% endfor %}
];

#[entry]
fn main(index: usize) {
    assert!(index < APP_ENTRY_TABLE.len());

    unsafe {
        APP_ENTRY_TABLE[index]();
    }
}

#[panic_handler]
fn panic(_info: &core::panic::PanicInfo) -> ! {
    loop {}
}
